body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

button {
    cursor: pointer;
}

.resultado {
    margin-top: 20px;
}

.aprovado {
    font-weight: bold;
    color: blue;
}
.reprovado {
    font-weight: bold;
    color: red;
}
.recuperacao   {
    font-weight: bold;
    color: yellow;
}
